@mixin sign-up {
    background-image: linear-gradient(19deg, rgba(0, 0, 0, .25) 50%, rgba(0, 0, 0, .25) 100%), url("../../img/bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    padding: 5rem;
}