//colors
$btn-color : #007bff;
$btn-color-dark: #0062cc;
$color-white: #fff;
$primary-color-text: #212529;

//box shadow
$btn-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);

//Fonts
$default-font: 1.8rem