.header {
    @include sign-up;
}

.sign-up {
    display: flex;
    align-items: center;

    .input-email {
        width: 40rem;
        height: 4.5rem;
        border-radius: 8px;
        padding: 1.1rem 2rem;
        font-size: $default-font;
        margin: 0 1rem;
    }
}