*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $default-font;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $primary-color-text;
    font-weight: 400;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}